blockquote{
    border-left:none
}

.quote-badge{

    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    /*margin-top: -50px;*/
    padding: 30px;
    border-radius: 17px;
    background-color: white;
    margin: 12% auto auto auto;
    color:white;
    width: 425px;
    display: table;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}


.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}

#sectionwell{
    margin: 5% auto auto auto;
    width: 425px;
}

.uibuttons{
    border: none;
}
